/* ======================================================================

                                 INDEX.HTML

   ====================================================================== */

/*  ---[[[ body ]]]---  */
body {  /* body elements */
    margin: 0;  /* margin (zero default margin) */
}

.bodyContainer {  /* body containers */
    background-color: #cccccc20;  /* background color (transluscent) */
    width: 95%;  /* width (by percentage) */
    margin: 0 auto;  /* margin (right/left and top/bottom) */
    margin-block: 10px 20px;  /* block margin (top and bottom) */
    border-radius: 6px;  /* rounded container edges */
}

.bodyHeading {  /* body headings */
    display: inline-block;  /* display inline-block */
    color: #fff;  /* text color */
    font-family: 'Fira Code', 'Courier New', Courier, monospace;  /* font (with fallback fonts) */
    font-size: 36px;  /* font size */
    font-weight: bold;  /* font weight */
    letter-spacing: .3rem;  /* font: spacing between letters */
    padding-block: 4px;  /* block padding */
    line-height: 0.1rem;  /* line height */
    margin-top: 38px;  /* margin (top) */
}

.secondHeading, .thirdHeading {  /* second and third body heading */
    padding-left: 20px;  /* padding (left) */
}

.bodySubheading {  /* body subheadings */
    display: inline-block;  /* display inline-block */
    color: #fff;  /* text color */
    font-family: 'Fira Code', 'Courier New', Courier, monospace;  /* font (with fallback fonts) */
    font-size: 28px;  /* font size */
    font-weight: bold;  /* font weight */
    letter-spacing: .3rem;  /* font: spacing between letters */
    line-height: 0.1rem;  /* line height */
}

.bodyContainer p {  /* body paragraphs */
    color: #fff;  /* text color */
    text-align: justify;  /* text alignment (justified) */
    margin-inline: 20px;  /* inline margin */
    padding-block: 6px 16px;  /* block padding (top and bottom) */
    font-family: Arial, Helvetica, sans-serif;  /* font (with fallback fonts) */
}

.poemContainer {  /* poem container */
    text-align: center;  /* text alignment (center) */
}

.poem {  /* poem content */
    color: #fff;  /* text color */
    font-size: 20px;  /* font size */
    font-family: 'Patrick Hand SC', Arial, Helvetica, sans-serif;  /* font (with fallback fonts) */
    font-weight: lighter;  /* font weight */
}

.signature {  /* signature */
    color: #fff;  /* text color */
    font-family: 'Cedarville Cursive', 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;  /* font (with fallback fonts) */
    font-size: 30px;  /* font size */
    font-style: italic;  /* font style */
    font-weight: lighter;  /* font weight */
}

.bodyContainer a {  /* body container links */
    text-decoration: none;  /* text decoration (no underline) */
    color: lightskyblue;  /* text color */
    font-weight: bolder;  /* font weight */
}

.halfBreak {  /* half of a normal line break */
    line-height: 0.6em;  /* line height */
}

.thirdBreak {  /* one third of a normal line break */
    line-height: 0.4em;  /* line height */
}


/*  ---[[[ images ]]]---  */
.roundImage {  /* round 'image cropping' container */
    width: 100px;  /* width */
    height: 100px;  /* height */
    position: relative;  /* relative position */
    overflow: hidden;  /* hide image overflow ('crop') */
    border: #3d0048 3px solid;  /* border around image */
    border-radius: 50%;  /* rounded corners ('circular') */
    float: left;  /* float element to the left of the container */
    margin-inline: 20px;  /* inline margin */
    margin-block-start: 10px;  /* block margin (start) */
    shape-outside: circle(64px);  /* AWESOME property that allows inline content to be 'wrapped' around element (in a circle) */
}

.roundImage img {  /* 'round' image ('cropped') */
    display: inline-block;  /* display inline block */
    margin: 0 auto;  /* margin (right/left and top/bottom) */
    margin-inline-start: -16px;  /* inline margin (start) */
    height: 100%;  /* height */
    width: auto;  /* width */
}

.rectangularImage {  /* rectangular image (no 'crop' just resizing) */
    display: block;  /* display block */
    margin: 0 auto;  /* margin (right/left and top/bottom) */
    float: left;  /* float element to the left of the container */
    border: #3d0048 3px solid;  /* border around image */
    border-radius: 2px;  /* rounded corners */
    max-height: 495px;  /* max height of image (width scales) */
    margin-inline: 20px;  /* inline margin */
    margin-block: 20px;  /* block margin */
}


/*  ---[[[ responsive design: 'first' breakpoint ]]]---  */
@media screen and (min-width: 1451px) {  /* screen has a minimum width of 1451px */
    
    .bodyHeading::after {  /* line after body headings (pseudo-element, child of 'body heading') */
        display: inline-block;  /* display inline-block */
        content: "";  /* empty content (horizontal line) */
        height: 5px;  /* line height */
        background: #3d0048;  /* line color */
        position: absolute;  /* absolute position */
        right: 110px;  /* spacing from the right of the page */
    }
    
    .bodySubheading::before, .bodySubheading::after {  /* lines before and after body subheadings (pseudo-elements, children of 'body subheadings' ) */
        display: inline-block;  /* display inline-block */
        content: "";  /* empty content (horizontal line) */
        width: 180px;  /* line width */
        height: 2px;  /* line height */
        background: #3d0048;  /* line color */
        margin-block: 6px;  /* block margin */
        margin-inline: 20px;  /* inline margin */
    }

    .firstHeading::after {  /* line after first heading (pseudo-element, child of 'body heading') */
        width: 65%;  /* width */
    }

    .secondHeading::after {  /* line after second heading (pseudo-element, child of 'body heading') */
        width: 50%;  /* width */
    }

    .thirdHeading::after {  /* line after second heading (pseudo-element, child of 'body heading') */
        width: 72%;  /* width */
    }
    
}


/*  ---[[[ responsive design: 'second' breakpoint ]]]---  */
@media only screen and (max-width: 1450px) {  /* screen has a maximum width of 1450px */
    
    .bodySubheading::before, .bodySubheading::after {  /* body subheading (before and after) */
        display: none;  /* hide the lines around the subheading */
    }


    /*  ---[[[ responsive design: 'mobile device' breakpoint ]]]---  */
    @media screen and (max-width: 549px) {  /* screen has a maximum width of 549px */

        html, body {  /* html and body (prevent horizontal scrolling) */
            max-width: 100%;  /* set max-width to 100% */
            overflow-x: hidden;  /* hide horizontal overflow */
        }

        .bodyContainer p {  /* body paragraphs */
            display: block;  /* display block */
            text-align: center;  /* text alignment (center) */
        }

        .firstHeading {  /* first heading */
            padding-inline-start: 1px;  /* attempt to center heading */
            padding-block-start: 28px;  /* margin block (start) */
            padding-block-end: 36px;  /* margin block (end) */
        }

        .secondHeading {  /* second heading */
            display: block;  /* display block */
            line-height: 1.2em;  /* readjust line height */
            padding-block-start: 25px;  /* padding block (start) */
            text-align: center;  /* text alignment (center) */
            font-size: 34px;  /* enlarge font */
            margin-inline-start: -5%;
            margin-block-end: 0;  /* remove space between photo and heading */
            
        }

        .thirdHeading {  /* third heading */
            margin-inline: 96px;  /* margin inline */
            margin-block-end: 26px;  /* margin block (end) */
        }

        .lastHeading {  /* last heading */
            margin-inline: calc(50% - 28.9vw);  /* calculated inline margin (near-center) */
        }

        .bodyHeading {  /* body heading */
            font-size: 26px;  /* reduce font size */
        }

        .bodyContainer {  /* body container */
            position: relative;  /* relative position (to arrange children) */
        }

        .rectImageContainer {  /* container for rectangular image */
            display: block;  /* display block */
            padding-inline: 56px;  /* padding inline */
            text-align: center;  /* text alignment (center) */
            position: absolute;  /* absolute position (CENTER) */
            margin-top: 260px;  /* margin (top) */
            left: 50%;  /* CENTER */
            -webkit-transform: translate(-50%, -50%);  /* CENTER */
            -moz-transform: translate(-50%, -50%);  /* CENTER */
            -ms-transform: translate(-50%, -50%);  /* CENTER */
            -o-transform: translate(-50%, -50%);  /* CENTER */
            transform: translate(-50%, -50%);  /* CENTER */
        }

        .bodyContainer .contributionText {  /* contribution text */
            margin-top: 526px;  /* move below image (image removed from document flow due to absolute position) */
        }

        .bodyContainer p a {  /* body paragraph links */
            font-size: 14px;  /* reduce font size */
        }

    }

}




/* ======================================================================

                               PROCESS.HTML

   ====================================================================== */

/*  ---[[[ body ]]]---  */
.processHeading {  /* process heading */
    margin-bottom: 30px;  /* margin (bottom) */
    padding-left: 20px;  /* padding (left) */
}

.finalNote {  /* final note text */
    font-weight: bold;  /* font weight */
    text-align: center;  /* text alignment (center) */
    font-family: 'Patrick Hand SC', Arial, Helvetica, sans-serif;  /* font (with fallback fonts) */
    color: #fff;  /* text color */
    font-size: 22px;  /* font size */
}


/*  ---[[[ deprecated rules ]]]---  */
.disabledLink {  /* disabled anchor / link */
    pointer-events: none;  /* make link non-clickable */
    cursor: default;  /* default cursor (don't use the pointer cursor) */
    opacity: 0.6;  /* set opacity */
}


/*  ---[[[ responsive design: 'mobile device' breakpoint ]]]---  */
@media screen and (max-width: 549px) {  /* screen has a maximum width of 549px */

    .processHeading {  /* process heading */
        line-height: 1.2em;  /* reset line spacing */
        text-align: center;  /* center heading */
        font-size: auto;  /* auto font size */
        margin-inline-start: -20px;  /* near-center heading */
    }

    .finalNote {  /* final note text */
        font-size: 16px;  /* font size */
    }

    .finalNote .signature {  /* final note signature */
        font-size: 18px;  /* font size */
    }

}




/* ======================================================================

                                TEAM.HTML

   ====================================================================== */

/*  ---[[[ body ]]]---  */
.teamContainer {  /* team container */
    text-align: center;  /* text alignment (center) */
    position: relative;  /* relative position */
}

.teamContainer p {
    display: inline;  /* display inline */
    text-align: center;  /* text alignment (center) */
}


/*  ---[[[ images ]]]---  */
.roundImager {  /* round 'image cropping' container */
    width: 100px;  /* width */
    height: 100px;  /* height */
    position: relative;  /* relative position */
    overflow: hidden;  /* hide image overflow ('crop') */
    border: #3d0048 3px solid;  /* border around image */
    border-radius: 50%;  /* rounded corners ('circular') */
    float: left;  /* float element to the left of the container */
    margin-inline: 20px;  /* inline margin */
    margin-block-start: 10px;  /* block margin (start) */
    shape-outside: circle(64px);  /* AWESOME property that allows inline content to be 'wrapped' around element (in a circle) */
    inset: 10px;  /* inset */
}

.roundImager2 {  /* round 'image cropping' container */
    width: 100px;  /* width */
    height: 100px;  /* height */
    position: relative;  /* relative position */
    overflow: hidden;  /* hide image overflow ('crop') */
    border: #3d0048 3px solid;  /* border around image */
    border-radius: 50%;  /* rounded corners ('circular') */
    float: right;  /* float element to the left of the container */
    margin-inline: 20px;  /* inline margin */
    margin-block-start: 10px;  /* block margin (start) */
    shape-outside: circle(64px);  /* AWESOME property that allows inline content to be 'wrapped' around element (in a circle) */
    inset: 5px;  /* inset */
}


/*  ---[[[ responsive design: 'mobile device' breakpoint ]]]---  */
@media screen and (max-width: 549px) {  /* screen has a maximum width of 549px */

    .imageBug {  /* process heading */
        margin-top: calc(10% + 4.2vh);  /* calculate top margin */
        margin-block-end: 60px;  /* margin block (end) */
    }

    .teamContainer {  /* team heading */
        text-align: center;  /* text alignment (center) */
    }

}




/* ======================================================================

                           ACKNOWLEDGEMENTS.HTML

   ====================================================================== */

/*  ---[[[ body ]]]---  */
.acknowledgementsHeading {  /* acknowledgements heading */
    padding-left: 20px;  /* padding (left) */
}

.acknowledgementsHeading::after {  /* line after acknowledgements heading (pseudo-element, child of 'acknowledgements heading') */
    width: 65%;  /* width */
}

.acknowledgementsContainer {  /* acknowledgements container */
    line-height: 3rem;  /* line height */
    letter-spacing: .005rem;  /* letter spacing */
    word-spacing: .15rem;  /* word spacing */
}

.acknowledgementsContainer a {  /* acknowledgements container links */
    text-decoration: none;  /* text decoration (no underline) */
    color: lightskyblue;  /* text color */
    font-weight: bolder;  /* font weight */
}


/*  ---[[[ responsive design: 'mobile device' breakpoint ]]]---  */
@media screen and (max-width: 549px) {  /* screen has a maximum width of 549px */

    .acknowledgementsContainer {  /* acknowledgements container */
        text-align: center;  /* text alignment (center) */
        line-height: 1.2em;  /* line height */
    }

}




/* ======================================================================

                               GLOBAL STYLES
                                 
   ====================================================================== */

/*  ---[[[ page background ]]]---  */
body.scrollingBackground {  /* scrolling background image */
    background-image: url("../images/background.png");  /* set a background image (had to go up a directory '../') */
    min-height: 100%;  /* set a minimum image height (for parallax scrolling effect -- STILL NEED TO ADD THIS EFFECT) */
    background-attachment: fixed;  /* fixed image attachment */
    background-position: center;  /* position image (center) -- STILL NEED TO ADD PARALLAX EFFECT */
}


/*  ---[[[ navbar ]]]---  */
header {  /* header */
    position: fixed;  /* fixed navbar to the top of the screen / viewport */
    z-index: 10;  /* z-index (not sure if Skeleton utilizes the z-index, but I wanted the navbar on top of anything else) */
    width: 100%;  /* width */
    top: 0;  /* fixed position (top) */
    left: 0;  /* fixed position (left) */
}

body {  /* body */
    padding-top: 150px;  /* top padding (without this the fixed navbar will cover the page's content) */
}

.navbarContainer {  /* navbar container */
    position: relative;  /* relative position (so child elements can be placed absolutely or relatively) */
    list-style-type: none;  /* remove numbering from ordered list */
    background-color: #570067;  /* navbar background color */
    height: 150px;  /* height */
    width: 100vw;  /* width */
}

.navbarContainer .navbarImage {  /* navbar image */
    max-height: 150px;  /* max height (width scales) */
    margin: 0 0 0 -50px;  /* basically crops the image (pushes to the left of screen) */
    overflow: hidden;  /* hide image overflow */
}

.navbarContainer .navbarHeading {  /* navbar heading */
    position: absolute;  /* absolute position */
    padding-top: 8px;  /* padding (top) */
    padding-left: 166px;  /* padding (left) */
    color: #fff;  /* text color */
    font-family: 'Fira Code', 'Courier New', Courier, monospace;  /* font (with fallback fonts) */
    font-size: 24px;  /* font size */
    font-weight: bolder;  /* font weight */
    white-space: nowrap;  /* don't wrap whitespace */
}

.navbarContainer .navbarHeading .subHeading {  /* navbar subheading */
    position: absolute;  /* absolute position */
    font-size: 16px;  /* font size */
    font-weight: lighter;  /* font weight */
}

.navbarContainer .navLinkContainer {  /* navlink container */
    position: relative;  /* relative position */
    padding-top: 110px;  /* padding (top) */
    padding-left: 10px;  /* padding (left) */
    margin-left: 26px;  /* margin (left) */
}

.navbarContainer li {  /* navbar link list */
    display: inline-block;  /* display inline block */
}

.navbarContainer li a {  /* navbar links */
    display: inline-block;  /* display inline block */
    width: auto;  /* width */
    color: #fff;  /* text color */
    text-decoration: none;  /* no link/anchor underline */
    padding-inline: 16px;  /* inline padding */
    padding-block: 8px;  /* block padding */
    margin-block: -8px;  /* block margin */
    font-family: 'Fira Code', 'Courier New', Courier, monospace;  /* font (with fallback fonts) */
    font-size: 20px;  /* font size */
}

.navbarContainer li a:hover {  /* navbar links (hover effect) */
    color: goldenrod;  /* text color */
    background-color: #ffffff31;  /* background color ('highlight') */
}

.navbarContainer li a.active {  /* current page navbar link (add 'active' class to current page link in navbar HTML) */
    color: gold;  /* text color */
}

.fauxButton {  /* faux (fake) button */
    display: inline-block;  /* display inline block */
    width: auto;  /* width */
    color: #fff;  /* text color */
    cursor: pointer;  /* pointer cursor (the little hand thing) */
    position: absolute;  /* absolute position */
    font-size: 30px;  /* font size */
    padding-top: 102px;  /* padding (top) */
    padding-left: 15px;  /* padding (left) */
    white-space: nowrap;  /* don't wrap whitespace */
}

.fauxButton:hover {  /* faux (fake) button (hover effect) */
    color: goldenrod;  /* font color */
}

.triviaGame {  /* trivia game faux button position */
    display: inline-block;  /* display inline block */
    position: absolute;  /* absolute position */
    right: calc(100px - 1.8vw);  /* right (calculated, so it doesn't shift around too much) */
}

.onPage {  /* "on page" rule (for JS) */
    display: none;  /* display none */
}

.show {  /* 'show' rule (for JS) */
    display: inline-block;  /* "show" navbar links with JavaScript */
}

.hide {  /* 'hide' rule (for JS) */
    display: none;  /* "hide" navbar links with JavaScript */
}

.mobile-only {  /* 'mobile only' display rule (not best practice, but semi-responsive) */
    display: none;  /* hide 'mobile only' elements */
}


/*  ---[[[ footer ]]]---  */
footer {  /* footer */
    margin-top: 20px;  /* margin (top) */
    width: 100vw;  /* width */
}

div.pageFooter {  /* footer container */
    display: block;  /* display block */
    background-color: #570067;  /* footer (background) color */
    padding-top: 20px;  /* padding (top) */
    padding-bottom: 2px;  /* padding (bottom) */
}

h3.pageFooter {  /* footer text */
    font-family: 'Fira Code', 'Courier New', Courier, monospace;  /* font (with fallback fonts) */
    font-size: 18px;  /* font size */
    text-align: center;  /* text alignment (center) */
    color: #fff;  /* text color */
}

footer a {  /* footer links */
    text-decoration: none;  /* text decoration (no underline) */
    color: lightskyblue;  /* text color */
    font-weight: bolder;  /* font weight */
}


/*  ---[[[ responsive design: 'second' breakpoint ]]]---  */
@media only screen and (max-width: 1450px) {  /* screen has a maximum width of 1450px */
    
    .desktop-only {  /* 'desktop only' display rule (not best practice, but semi-responsive) */
        display: none;  /* hide 'desktop only' elements */
    }

    .mobile-only {  /* 'mobile only' display rule (not best practice, but semi-responsive) */
        display: inline-block;  /* display inline block */
    }

    .navButtonContainer {  /* nav button container */
        display: inline-block;  /* display inline block */
        position: absolute;  /* absolute positioning */
        white-space: nowrap;  /* don't wrap whitespace */
        top: 0;  /* top */
        right: 0;  /* right */
        bottom: 0;  /* bottom */
        left: calc(120px - 8.5vw);  /* left (calculated, so it doesn't shift around too much) */
    }

    .navButton {  /* nav buttons */
        position: relative;  /* relative position */
        display: inline-block;  /* display inline block */
        padding: 10px;  /* padding */
    }


    /*  ---[[[ responsive design: 'mobile device' breakpoint ]]]---  */
    @media screen and (max-width: 549px) {  /* screen has a minimum width of 549px */
        
        .navButtonContainer {  /* nav button container */
            position: relative;  /* position relative */
            top: -156px;  /* push back to the proper location */
            left: 120px;  /* push back to the proper location */
        }  /* this was a 'hacky' fix, but it worked, at the end of the day (WOO Skeleton, that 'row' kept overflowing) */

        .navbarContainer li a {  /* navbar anchor links */
            font-size: 16px;  /* shrink font size */
            padding-inline: 10px;  /* reduce inline padding */
            padding-top: 16px;  /* increase top padding */
        }

        .navbarContainer .navbarHeading {  /* navbar heading */
            font-size: 18px;  /* reduce font size */
        }

       .navbarContainer .navbarHeading .subHeading {  /* navbar subheading */
            font-size: 12px;  /* reduce font size */
       }

       footer h3.pageFooter {  /* footer text */
            font-size: 16px;  /* reduce font size */
       }
        
    }

}


/*  ---[[[ responsive design: landscape ]]]---  */
@media screen and (orientation: landscape) {

    html, body {  /* html and body (prevent horizontal scrolling) */
        max-width: 100%;  /* set max-width to 100% */
        overflow-x: hidden;  /* hide horizontal overflow */
    }
    
}


/*  ---[[[ fonts ]]]---  */
@font-face {  /* import 'Fira Code' font */
    font-family: "Fira Code";  /* font-family name */
    src: url("../fonts/Fira_Code/FiraCode-VariableFont_wght.ttf");  /* font file location (had to go up a directory '../') */
}

@font-face {  /* import 'Cedarville Cursive' font */
    font-family: "Cedarville Cursive";  /* font-family name */
    src: url("../fonts/Cedarville_Cursive/CedarvilleCursive-Regular.ttf");  /* font file location (had to go up a directory '../') */
}

@font-face {  /* import 'Patrick Hand SC' font */
    font-family: "Patrick Hand SC";  /* font-family name */
    src: url("../fonts/Patrick_Hand_SC/PatrickHandSC-Regular.ttf");  /* font file location (had to go up a directory '../') */
}
